<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
        integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous" />

    <link rel="stylesheet" href="../css/layout.css" />

    <title>Toastmasters Platform</title>
</head>

<body>
    <div class="wrapper">
        <nav id="sidebar">
            <div class="sidebar-header bg-primary text-white text-center py-3">
                <div class="logo">
                    <a href="/" class="text-white font-weight-bold">Hi, <span id="username">Guest</span>!</a>
                </div>
            </div>

            <div class="sidebar-content">
                <ul class="list-unstyled components">
                    <li><a href="/profile.html"><i class="far fa-user mr-2"></i>個人資料</a></li>
                    <li><a href="/edit-profile.html"><i class="fas fa-user-edit mr-2"></i>編輯資料</a></li>
                    <li><a href="/club-list.html"><i class="fas fa-map-marker-alt mr-2"></i>附近社團</a></li>
                    <li><a href="/articles.html"><i class="fas fa-comments mr-2"></i>活動交流區</a></li>
                    <li><a href="/chat.html"><i class="fas fa-comment-dots mr-2"></i>即時訊息</a></li>
                </ul>
            </div>
        </nav>

        <div id="content-container">
            <div class="menu-header bg-warning d-flex align-items-center px-3" style="height: 50px;">
                <button type="button" id="sidebarCollapse" class="btn btn-sm btn-light">
                    <i class="fas fa-bars"></i>
                </button>
                <h5 class="ml-3 mb-0 font-weight-bold">Toastmasters 活動平台</h5>
            </div>

            <div class="welcome d-flex flex-column justify-content-center align-items-center text-center"
                style="padding: 50px;">
                <div class="welcome-svg">
                    <div class="shapeshifter play" style="background-image: url(../images/welcome_sprite.svg);
                                                  width: 524px; height: 89px; background-repeat: no-repeat;"></div>
                </div>
                <p class="mt-3 lead">歡迎來到 Toastmasters 活動與社群平台！</p>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

    <!-- jQuery Custom Scroller CDN -->
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>


    <script type="text/javascript" src="js/main.js"></script>
</body>

</html>